[color]
  ui = auto
[alias]
  st = status
  di = diff
  ci = commit
  br = branch
  llog = log --date=local
[rerere]
  enabled = true
[user]
	email = zlwilliams1@gmail.com
	name = zbay
[core]
	editor = nano
